{% extends 'base.html' %}
{% load static %}
{% block title %}Recipes from Requirements{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="alert alert-danger" role="alert" style="display: none;"></div>
    <form method="post" id="requirements_form">
        {% csrf_token %}
        <label for="dropdown">Select an option:</label>
        <select id="dropdown" name="selected_option">
            {% for item in nutrients %}
                <option value="{{ item }}" id="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <button type="button" id="add_button">Add Selected Option</button>
        <br>
        <div id="input_container"></div>
        <br>
        <input type="submit" value="Submit" id="submit_form_button">
    </form>
    <br />
    <div class="container col-md-8" style="display: none" id="recipes_block">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for i in '012345'|make_list %}
            <div class="col">
              <div class="card shadow-sm">
                <a href="" class="text-decoration-none text-black" id="recipe_url{{ forloop.counter0 }}">
                    <img src="{% static 'images/food-bell.png' %}" class="img-fluid" alt="Responsive image" id="recipe_image{{ forloop.counter0 }}">
                  <div class="card-body">
                    <p class="card-text text-center" id="recipe_title{{ forloop.counter0 }}"></p>
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}

        </div>
    </div>

</div>

<script type="text/javascript">

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
    
document.getElementById("add_button").addEventListener("click", function() {
    const dropdown = document.getElementById("dropdown");
    const selectedOption = dropdown.value;
    if (selectedOption) {
        const inputContainer = document.getElementById("input_container");
        const inputField = createInputField(selectedOption);
        inputContainer.appendChild(inputField);
        hideOption(selectedOption);
        selectFirstNonHiddenOption();
    }
});

function createInputField(selectedOption) {
    const div = document.createElement("div");
    const inputLabel = document.createElement("label");
    inputLabel.setAttribute("for", selectedOption);
    inputLabel.textContent = "Enter value for " + selectedOption + ": ";
    div.appendChild(inputLabel);

    const inputField = document.createElement("input");
    inputField.setAttribute("type", "number");
    inputField.setAttribute("name", selectedOption);
    inputField.setAttribute("id", selectedOption);
    div.appendChild(inputField);


    const deleteButton = document.createElement("button");
    deleteButton.setAttribute("type", "button");
    deleteButton.textContent = "Delete";
    deleteButton.addEventListener("click", function() {
        div.remove();
        unhideOption(selectedOption);
    });
    div.appendChild(deleteButton);

    return div;
}

var static_png = "{% static 'images/food-bell.png' %}"
document.getElementById('requirements_form').addEventListener('submit', function(event){
  event.preventDefault();

  var url = '/api/recipes-requirements/'

  const formData = new FormData(this)
  requirements = [...formData].slice(2)
  
  fetch(url, {
    method: 'POST',
    headers:{
        'Content-type': 'application/json',
        'X-CSRFToken': csrftoken,
    },
    body:JSON.stringify({'requirements': requirements})
  }).then((resp) => {
    if (!resp.ok) {
      throw new Error('Failed to fetch data');
    }
    return resp.json();
  }).then(function(data){
    document.querySelector('.alert').style.display = 'none';
    unhideOption('recipes_block');
    for (let i = 0; i < 7; i++){
        if (data[i]) { // Check if data[i] is defined
            document.getElementById('recipe_url'+i).href = 'detail_recipes/' + data[i][2];
            document.getElementById('recipe_title'+i).innerHTML = data[i][0];
            if (document.getElementById('recipe_image'+i).src == 'image_not_found'){
                document.getElementById('recipe_image'+i).src = static_png;
            } else {
                document.getElementById('recipe_image'+i).src = data[i][1];
            }
        }
    }
}).catch(function(error) {
    // Display error message
    document.querySelector('.alert').style.display = 'block';
    document.querySelector('.alert').innerHTML = 'Error: ' + error.message + '. Try adjusting provided values.';
  });
});


function hideOption(optionValue) {
    const selectedOptionId = document.getElementById(optionValue);
    selectedOptionId.style.display = "none";
}

function unhideOption(optionValue) {
    const selectedOptionId = document.getElementById(optionValue);
    selectedOptionId.style.display = "";
}
function selectFirstNonHiddenOption() {
    const dropdown = document.getElementById("dropdown");
    for (let i = 0; i < dropdown.options.length; i++) {
        if (dropdown.options[i].style.display !== "none") {
            dropdown.selectedIndex = i;
            break;
        }
    }
}
</script>

{% endblock %}