{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% load static %}
{% block content %}

<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="container mt-4 mb-4">
      <h1 class="text-center mb-4">User Profile</h1>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <a href="{% url 'custom_recipes' %}">
            <button class="btn btn-danger me-2">Add New Recipe</button>
        </a>
    </div>
      <h3>My Recipes</h3>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for recipe in custom_recipes %}
            <a href="{% url 'detail_custom_recipe' recipe.id %}" style="color: inherit; text-decoration: none;">
                <div class="col">
                    <div class="card h-100 d-flex flex-column">
                        {% if recipe.image %}
                        <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.name }}" style="object-fit: cover; height: 200px;">
                        {% else %}
                        <img src="{% static 'images/food-bell.png' %}" class="card-img-top" alt="{{ recipe.name }}" style="object-fit: cover; height: 200px;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.name }}</h5>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
  </div>
</div>

{% endblock %}

