{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load crispy_forms_tags %}
{% block content %}


<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for title, image in items %}
          <div class="col">
            <div class="card shadow-sm">
              <img src="{{ image }}" class="img-fluid" alt="Responsive image">
              <div class="card-body">
                <p class="card-text text-center">{{ title }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>




{% endblock %}